.grid > div{
    background: rgb(156, 156, 156);
    padding: .8rem;
    border-radius: 11px;
    /*grid shadow from here https://themesberg.com/blog/tutorial/neomorphic-elements-css-html-tutorial */
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; 
}
.grid{
    display: grid;
    
    grid-template-rows: auto repeat(7, 80px);
    grid-template-columns: 150px repeat(14, 1fr);
    gap: 6px;
    margin: 10px;
    padding: 15px;
    width: 90%;
    margin: auto;
}
/*intervention names on hover text colour and shadow remove*/

.grid > .income:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .parent:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .child:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .integrated:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .quality:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .comparative:hover {
    color:#DDD;
    box-shadow: none;
}
/*child age groups on hover text colour and shadow remove*/
.grid > .newborn:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .infant:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .toddler:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .preschooler:hover {
    color:#DDD;
    box-shadow: none;
}
/* outcome sections background colour */
.grid > .region{
    background: skyblue;
    text-align: center;
}
.grid > .pubYear{
    background: lightseagreen;
    text-align: center;
}
.grid > .age{
    background: rgba(0, 128, 128, 1.0);
    text-align: center;
}
/* outcomes sections on hover styling */
.grid > .region:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .pubYear:hover {
    color:#DDD;
    box-shadow: none;
}
.grid > .age:hover {
    color:#DDD;
    box-shadow: none;
}
.blank{
    grid-column: 1/2;
    grid-row: 1/3
}
.dfatRegion{
    grid-column: 2/7;
}
.yearRange{
    grid-column: 7/11;
}
.ageGroup{
    grid-column: 11/16;
}
body{
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;

}
.h1 {
    font-size: 2em;
    text-align: center;
}
.h2 {
    font-size: 1.5em;
}
.h3 {
    color: black;
    font-size: 1em;
    /* font-weight: bold; */
}
.h4 {
    color: black;
    font-size: .8em;
    /* font-weight: bold; */
}
.h5 {
    color: black;
    font-size: 1em;
}
.title{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 11px;
    text-align: center;
    margin: 10px;
}
.description {
    background-color: rgb(126, 126, 126);
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 11px;
}
a { color: blue;
}
a:hover {
    font-weight: bold;
}
.tippy-box {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    box-shadow: 0 0 20px 5px rgba(50, 50, 50, 0.25);
    border-style: solid;
    border-width: 1px;
}
