.grid > div{
    background: rgb(101, 177, 248);
    padding: 1rem;
    border-radius: 1rem;
}

/* .grid > div:nth-child(odd){
    background: rgb(113, 113, 216);
} */

.grid{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* grid-template-rows: auto; */
    gap: .5rem;
    /* grid-auto-rows: minmax(100, auto); */
    /* width: 100%; */
    /* justify-items: center; */
}
.dfatRegion{
    grid-column: 2/7;
}
.yearRange{
    grid-column: 7/11;
}
.ageGroup{
    grid-column: 11/16;
}
body{
    margin: 2rem;
    font: 12px system-ui;
}
.h1 {
    color: indigo;
    font-size: 2em;
    text-align: center;
}
.h2 {
    color: indigo;
    font-size: 1.5em;
}
.h3 {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
.h4 {
    color: black;
    font-size: 1em;
    text-orientation: sideways-right;
    font-weight: bold;
}
.tippy-box {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-style: solid;
    
}
